::-webkit-scrollbar {
  width: 12px;
}

/* 스크롤바 백그라운드 색상 */
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

/* 스크롤바에 호버되었을 때의 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* 스크롤바를 클릭했을 때의 색상 변경 */
::-webkit-scrollbar-thumb:active {
  background-color: #706b5a;
}

.header {
  /* ... 기존 스타일 ... */
  transition: background-color 0.3s ease, color 0.3s ease; /* 변화 부드럽게 적용 */
}

.projectNav:hover .content {
  display: block;
}